{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  Index de Produto
{% endblock %}

{% block corpo%}
    {{ frase }}
    <br>
    <br>
    <div class="card" style="width: 26rem;">
        <img src="{% static 'images/pao-de-acucar.jpg' %}" class="card-img-top" alt="Pão de Açucar">
        <div class="card-body">
          <h5 class="card-title">Pão de Açucar</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Mais informações</a>
        </div>
      </div>
{% endblock %}

{% block rodape%}
  <hr>
  Rodape index Produto
{% endblock %}
</body>
</html>